$pink: #ffb6c1 !default;
$light-pink: #ffcdd5 !default;
$dark-pink: #d86b7c !default;
$darker-pink: #af2c44 !default;
$black: #121212 !default;
$white: #f5f5f5 !default;
$error: #ff3f5f !default;

$body-font: "Fira Sans", sans-serif !default;
$title-font: "Sedgwick Ave Display", cursive !default;
$subtitle-font: "Sriracha", cursive !default;
